$shadow: rgba(51, 62, 65, 0.75);
$shadow2: rgba(51, 62, 65, 0.5);
$shadow3: rgba(51, 62, 65, 0.25);

$white: #fff;
$white2: rgba(255, 255, 255, 0.75);
$white3: rgba(255, 255, 255, 0.5);
$white4: rgba(255, 255, 255, 0.25);

$gold: #a88550;
$lightBlue: #3ecbc2;
$yellow: #ffd338;
